body {
    background-image: url('Clouds.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.separator{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    max-width: 50px;
    height: auto;
    padding-bottom: 1000px;
    padding-right:100px
}