body {
    background: url("../Images/Black Wood.jpg");
}

#container
{
    padding-top:150px;
    padding-right: 50px;
    padding-left: 50px;
}

.outerDiv
{
    width:100%;
    height:5%;
    float: left;
}

.leftDiv
{
    float:left;
    font-size: 50px;
    color: white;
    font-family: Brush Script MT, Brush Script Std, cursive;
}

.rightDiv
{
    float:right;
    font-size: 50px;
    color: white;
    font-family: Brush Script MT, Brush Script Std, cursive;
}

.column
{
    float: left;
    width:50%;
}

.provinces
{
    float:left;
    width: 100%;
    height: 100%;
    transition: all .5s;
    padding: 10px;
}

.column:hover .provinces,
.column:focus .provinces
{
    transform: scale(1.04);
}
