body {
    background-image: url('Boots.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

#sliders{
    padding-top: 400px;
    max-width: 100%;
    height: 1000px;
    object-fit: fill;
}

#outer{
    display:flex;
    justify-content:center;
    margin-top:5px;
}

#inner{
    text-align:center;
    color: white;
    overflow: hidden;
    padding: 1px;
}

#inner > h1{
    font-size: 75px;
    animation: Slide_Up 1.5s ease;
}

#inner > p{
    font-size:25px;
    animation: Slide_Up 2s ease;
}

@keyframes Slide_Up{
    0%{
        transform:translate(1000px);
    }
    100%{
        transform:translate(0);
    }
}

#picInfo{
    float: left;
    max-width: 50%;
    height: auto;
    border-radius: 8px;
}

#smallBox{
    background: linear-gradient(90deg, rgba(52, 58, 64, 1) 0%, rgba(140,82,255,1) 35%, rgba(243,0,255,1) 100%);
    padding-top: 350px;
    padding-bottom: 625px;
    max-width:100%;
    height: auto;
}